.navigation-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
}

.navigation-wrapper ul {
  margin: 0;
  padding: 0;
}

.navigation-wrapper ul li {
  display: inline-block;
  margin-left: 20px;
}

.navigation-wrapper ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}
