.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease;
  transition-delay: 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 0;
  left: 0;
}
